*{
    margin: 0;
    margin-top: 5px;
    padding-right: 5px;
    padding-left:2px;
    }
    .container{
        width: 100%;
    }
    #navbar-printerest{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    #pinterest-icon{
        width: 2em;
        border-radius: 15px;
    }
    .logo{
        display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    }
    .img_logo{
        width: 2em;
        border-radius: 15px;
    }
    .in{
    display: flex;
    width: 10%;
    justify-content: center;
    }
    .fo{
        width: 100%;
    }
    .finder{
        display: flex;
        width: 100%;
        justify-content: center;  
        border: 0px solid;
        background-color: darkgrey;
        border-radius: 15px;
        height: 38px;
    }
    .btn_in{
        background-color: black;
        color: white;
        border-radius: 15px;
        height: 38px;
        align-items: center;
    }
    #content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        flex-direction: row;
        }
       
        .card-image{
            max-width: 100%;
            
        }
        .card-image .figure{
            position:relative;
            width: 100%;
            height:8em ;
            
            overflow: hidden;
            border-radius:6px ;
            cursor: pointer;
           
             }
             .card-image .figure .cat_goku{
                width: 100%;
                 height: 8em;
                
                 transition: all 500ms ease-out;
             }
             .card-image .figure .btn{
                 position: absolute;
                 top: 0;
               width: 100%;
                 height: 8em;
                 background-color: rgba(0,103,123,0.7);
                 
                 opacity: 0;
                 visibility: hidden;
                 text-align: center;
                
             }
             .card-image .figure:hover > .btn{
                 opacity: 1;
                 visibility: visible;
             }
             .card-image .figure .btn .btn_ver{
               background-color:transparent;
               border-radius: 5px;
               border: transparent;
               color: rgb(243, 243, 247);
               width: auto;
             }
             .card-image .figure .btn .btn_ver:hover{
                color:gold;
                border: 2px solid rgb(173, 204, 235);
             }
             .card-image .figure  .btn .btn_descargar{
                background-color: transparent;
                border-radius: 5px;
                border: transparent;
                color: rgb(250, 250, 250);
                width: auto;
              }
              .card-image .figure .btn .btn_descargar:hover{
                color:gold;
                border: 2px solid rgb(173, 204, 235);
             }
              .card-image .figure  .btn .btn_ampliar{
                background-color: transparent;
                border-radius: 5px;
                border: transparent;
                color: rgb(255, 255, 255);
                width: auto;
              }
              .card-image .figure .btn .btn_ampliar:hover{
                color:gold;
                border: 2px solid rgb(173, 204, 235);
             }
         